@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat:wght@400;600;800;900&family=Noto+Sans:wght@400;700&family=Poppins:wght@400;700;900&family=Raleway:wght@600&family=Roboto:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Monda:wght@400;700&family=Montserrat:wght@400;600;800;900&family=Noto+Sans:wght@400;700&family=Poppins:wght@400;700;900&family=Raleway:wght@600;700&family=Roboto:wght@100;300;400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: px solid red;
}
/* .button{
    margin-top: 30px;
    color: white;
    background-color: #F14C38;
    text-decoration: none;
    font-size:20px ;
     border-radius: 30px;
     /* padding: 10px 20px; 
     margin-top: px;
     position: relative;
     top: 30px;
     /* border: 3px solid black;  
     display: flex;
     justify-content: center;
     align-items: center;
     width: 159px;
     height: 50px;
} */

:root {
    --bg: #eee;
    --color: #F14C38;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

.wrapper {
    padding: 1.5rem 0;
    filter: url('#goo');
}

#buttoncont {
    display: inline-block;
    text-align: center;
    background: #F14C38;
    color: #eee;
    font-weight: bold;
    /* padding: 1.18em 1.32em 1.03em; */
    padding: 20px 10px;
    line-height: 1;
    border-radius: 30px;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 159px;
     height: 50px;








    
   
     
 
}

.button:before,
.button:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background: var(--color);
    border-radius: 50%;
    transition: transform 0.7s ease;
    transform: scale(0);
    z-index: -1;
}

.button:before {
    top: -25%;
    left: 20%;
}

.button:after {
    bottom: -25%;
    right: 20%;
}

.button:hover:before,
.button:hover:after {
    transform: none;
}



body{
    align-items: center;
    justify-content: center;
}
/* #bg{
    position: absolute;
    width: 100%;
    height: 900px;
} */


#sub {
    background-position: center;
    transition: background 0.8s;
  }
  #sub:hover {
    background: #1F5EAB radial-gradient(circle, transparent 1%, #1F5EAB 1%) center/15000%;
  }
  #sub:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  }
  
  /* Button style */
  #sub {
    
    font-size: 16px;
    
    cursor: pointer;
    color: white;
    
    box-shadow: 0 0 4px #999;
    outline: none;
  }
#login{
    background-image: url(images/blue.jpg);
    background-size: cover;
    background:none ;
    /* border: 5px solid white; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* /* display: none; */
    position: absolute; 
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    z-index: 500;
    position: fixed;
    
    
} 
#main{
    position: absolute;
    display: block;
    z-index: 100;
    transition: all 0.8s;
}
#leftside{
    width: 26%;
    background-color: white;
    position: relative;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border: px solid black;
    height: 530px;
    box-shadow: 7px 2px 12px 0px rgba(0, 0, 0, 0.3);
}
.logo{
    border: px solid black;
    display: flex;
    gap: 10px;
    /* justify-content: center;
    align-items: center; */
    height: 50px;
    margin-top: 30px;
    margin-left: 20%;
}
.logoimg{
    height: 50px;
    width: 50px;
    border: px solid black;
}
.co-name{
    height: 50px;
    width: 200px;
    border: px solid black;
    color: #F14C38;
    font-family: 'Roboto',sans-serif;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    top: 5px;
}
.un{
    
    margin-top: 30px;
    border: px solid black;
    
}
.un #userpic{
    height: 55px;
    width: 80px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    left: 40%;
}
.un #username{
    font-family: 'Kanit',sans-serif;
    width: 204px;
    border: px solid black;
    position: relative;
    left: 37%;;
    font-weight: 600;
    font-size: 22px;
}
.blur{
    filter: blur(6px);
}
.detail{
    border: px solid black;
    /* border: 1px solid black; */
    margin-top: 30px;
}
.detail input{
    width: 254px;
    height: 35px;
    border: 1px solid black;
    margin-top: 10px;
    padding-left:10px ;
}
.detail #outer-input{
    position: relative;
    left: 60px;
    width: 254px;
}

#rightpic2{
    display: none;
}
.submit{
    border: px solid black;
    /* position: relative; */
    margin-top: 70px;
    text-align: center;
 } 
.submit button{
    width: 125px;
    height: 35px;
    background-color:#1F5EAB ;
    color: white;
    border: none;
    border-radius: 10px;
}
#bottom{
    width: 120px;
    height: 100px;
    position: relative;
    top: 40px;
    left: 200px;
}
#rightside{
    background-color: #F1387B;
    width: 38%;
    height: 510px;
    position: relative;
    box-shadow: 8px 4px 14px 0px rgba(0, 0, 0, 0.7);
    height: 531px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}
#rightpic{
    width: 100%;
    height: 100%;
}

@media(max-width:747px){
    #login{
    background-image: url(images/blue.jpg);
    background-size: cover;
    height: 100vh;
    background: none;
}
/* #bg{
    position: absolute;
    width: 100%;
    height: 950px;
} */
    #rightside{
        display: none;

    }
    #rightpic2{
    display: block;
    width: 80%;
    height: 30%;
    position: relative;
    top: 0px;
    left: 10%;
    border: px solid black;
    text-align: center;
}

#leftside{
    width: 80%;
    background-color: white;
    position: relative;
    left: 0%;
    top:0px;
    border-radius: 30px;
    height: auto;
    padding-bottom: 0px;
}
.logo{
    border: px solid black;
    display: flex;
    gap: 10px;
    /* justify-content: center;
    align-items: center; */
    height: 50px;
    margin-top: 30px;
    margin-left: 18%;
}
.logoimg{
    height: 50px;
    width: 50px;
    border: px solid black;
}
.co-name{
    height: 50px;
    width: 200px;
    border: px solid black;
    color: #F14C38;
    font-family: 'poppins', 'sans-serif';
    font-size: 30px;
    font-weight: 600;
}/*
.un{
    position: relative;
    top: 40px;
}
.un #userpic{
    height: 50px;
    width: 74px;
    border: px solid black;
    position: relative;
    left: 40%;;
}
.un #username{
    font-family: 'poppins', 'sans-serif';
    width: 204px;
    border: px solid black;
    position: relative;
    left: 37%;;
}  */

.detail{
    border: px solid black;
    
    margin-top: 20px;
}
.detail input{
    width: 224px;
    height: 30px;
    
    margin-top: 10px;
}
.detail #outer-input{
    position: relative;
    left: 50px;
    width: 254px;
}
.submit{
    border: px solid black;
    /* position: relative; */
    margin-top: 0px;
    text-align: center;
 } 
 .submit button{
    width: 125px;
    height: 35px;
    background-color:#1F5EAB ;
    color: white;
    border: none;
    border-radius: 10px;
}
#bottom{
    width: 80px;
    height: 70px;
    position: relative;
    top: 30px;
    left: 200px;
    display: ;
}
} 
@media screen and (min-width:748px) and (max-width:1200px) {
    #login{
        background-image: url(images/blue.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        background: none;
    }
    /* #bg{
        position: absolute;
        width: 100%;
        height: 1900px;
    } */
    #login{
        
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    #leftside{
        width: 35%;
        background-color: white;
        position: relative;
        top: 00px;
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
        border: px solid black;
    }
    .logo{
        border: px solid black;
        display: flex;
        gap: 10px;
        /* justify-content: center;
        align-items: center; */
        height: 50px;
        margin-top: 30px;
        margin-left: 20%;
    }
    .logoimg{
        height: 50px;
        width: 50px;
        border: px solid black;
    }
    .co-name{
        height: 50px;
        width: 200px;
        border: px solid black;
        color: #F14C38;
        font-family: 'poppins', 'sans-serif';
        font-size: 30px;
        font-weight: 600;
    }
    .un{
        
        margin-top: 20px;
        border: px solid black;
        
    }
    .un #userpic{
        height: 50px;
        width: 74px;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;
        left: 40%;
    }
    .un #username{
        font-family: 'poppins', 'sans-serif';
        width: 204px;
        border: px solid black;
        position: relative;
        left: 37%;;
    }
    .detail{
        border: px solid black;
        
        margin-top: 60px;
    }
    .detail input{
        width: 204px;
        height: 30x;
        
        margin-top: 10px;
    }
    .detail #outer-input{
        position: relative;
        left: 50px;
        width: 254px;
    }
      
    
    #rightpic2{
        display: none;
    }
    .submit{
        border: px solid black;
        /* position: relative; */
        margin-top: 90px;
        text-align: center;
     } 
     .submit button{
        width: 125px;
        height: 35px;
        background-color:#1F5EAB ;
        color: white;
        border: none;
        border-radius: 10px;
    }
    #bottom{
        width: 120px;
        height: 100px;
        position: relative;
        top: 40px;
        left: 170px;
    }
    #rightside{
        background-color: #F1387B;
        width: 40%;
        height: 510px;
        position: relative;
        top: 00px;
        height: 531px;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
    }
    #rightpic{
        width: 100%;
        height: 100%;
    }
}


/* Menu Bar */

.menu-bg{
    width: 100%;
    height: 800px;
}

nav{
    border: px solid red;
    height: 60px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 100;
    width: 100%;
}

.micro-soft{
    border: px solid red;
    float: left;
    position: absolute;
    left: 150px;
    
    /* FONTS */

    font-family: 'Poppins',sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fefefe;
}

.micro-logo{
    border: px solid white;
    height: 100%;
    margin-left: 0%;
    position: absolute;
    left: 90px;

}

nav ul{
    border: px solid white;
    width: 40%;
    height: 100%;
    float: right;
    margin-right: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: flex-start;
    list-style: none;
}
nav ul li{
    position: relative;
}
nav ul li a{
    border: px solid red;

    /* FONTS */

    font-family: 'Monda',sans-serif;
    font-weight: 400;
    color: #fefefe;
    text-decoration: none;
    
}

nav a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #FEFEFE;
    transform: scale(0,1);
    transition: transform 0.3s ease;
}
nav a:hover::after{
    transform: scale(1,1);
}
nav a:hover{
    color: #fefefe;
}








.onpa  {
    font-weight: 700;

}
.check-menu,.fa-bars{
    display: none;
}

.fa-solid.fa-bars{
    display: none;
}

/* Landing Page */
.landing{
    border: px solid red;
    width: 100%;
    height: 900px;
    position: relative;
}
.landing-mb{
    border: px solid red;
    width: 100%;
    height: 900px;
    position: relative;
    display: none;
}

.box1{
    border: px solid red;
    height: 120px;
    width: 120px;
    background-color: #F14C38;
    position: absolute;
    top: 700px;
    left: 100px;
}

.quote{
    border: px solid red;
    position: absolute;
    top: 150px;
    left: 100px;
    width: 30%;


    /* FONTS */

    font-family: 'Raleway',sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    color: #FEFEFE;
}


.quote2{
    border: px solid red;
    position: absolute;
    top: 340px;
    left: 100px;
    width: 25%;
    line-height: 22px;


    /* FONTS */

    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #FEFEFE;
}

.slider{
    border: px solid white;
    position: absolute;
    top: 140px ;
    right: 100px;
    width: 40%;
    height: 500px;
}

.slider-h-w{
    height: 100%;
    width: 100%;
}

.slider-images{
    height: 500px;
    width: 100%;
}

/* Start Quiz Section */
.start-quiz{
    border: px solid red;
    height: 400px;
    margin-top: 30px;
    margin-bottom: 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: url(images/bgimg.jpg),rgba(0,0,0,.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

.startquiz-section{
    border: px solid beige;
    width: 25%;
    height: 100%;
    float: left;
    position: absolute;
    left: 50px;
}

.heading-start{
    border: px solid red;
    width: 30%;
    position: relative;
    top: 80px;
    left: 50px;
    /* fonts */

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 75px;
    color: #fefefe;
}

.heading-select{
    border: px solid red;
    width: 80%;
    position: relative;
    top: 120px;
    left: 51px;

        /* fonts */

        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 28px;
        color: #fefefe;
}

.levels{
    border: px solid black;
    width: 55%;
    height: 80%;
    float: right;
    position: absolute;
    right: 8%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 50px;
    row-gap: 30px;
}

.card-level{
    border: px solid red;
    background-color: #fefefe;
    border-radius: 0px;
    position: relative;
    transform: translateY(0px);
}

.card-level .logo-sel{
    border: px solid red;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #F14C38;
    transition: 0.4s ease-in-out;


    /* FONTS */
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #FEFEFE;
}

.card-level .difficulty{
    border: px solid red;
    position: absolute;
    top: 70%;
    text-align: center;
    width: 100%;
    transition: 0.s ease-in-out;
    
    /* FONTS */
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #F14C38;
}

.card-level:hover .difficulty{
    color: #1F5EAB;

}


.card-level:hover .logo-sel{
    background-color: #1F5EAB;

}


.card-level:hover{
    border: 2px solid #1F5EAB;
    border-radius: 4px;
    transition: transform 0.4s  linear;
    transform: translateY(-10px);

}

/* Countdown Section */

.countdown{
    border: px solid red;
    margin-top: 20px;
    width: 100%;
    height: 300px;
    background: url("images/NUMBER.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
}

.count-sec{
    border: px solid white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.num{
    /* border-bottom: 3px solid #fefefe; */

    /* FONTS */
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #fefefe;
}
.name-of-perosonal{
    border-top: 3px solid #FEFEFE;
    
    /* FONTS */
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #FEFEFE;
}
@media screen and (max-width:700px) {
    *{
        margin: 0;
        padding: 0;
    }
    
    .menu-bg{
        width: 100%;
        height: 800px;
    }
    
    nav{
        border: px solid red;
        height: 60px;
        width: 100%;
        background-color: transparent;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }
    
    .micro-soft{
        border: px solid red;
        float: left;
        position: absolute;
        left: 15%;
        
        /* FONTS */
    
        font-family: 'Poppins',sans-serif;
        font-size: 30px;
        font-weight: 700;
        color: #fefefe;
    }
    
    .micro-logo{
        border: px solid white;
        height: 70%;
        position: absolute;
        left: 10px;
        margin-left: 0%;
    
    }
    nav ul{
        border: px solid red;
        width: 80%;
        background-color: #F14C38;
        border-top-right-radius: 40px;
        height: 100vh;
        position: absolute;
        top: 70px;
        left: -100%;
        float: right;
        margin-right: 0%;
        display: flex;
        justify-content:flex-start;
        align-items: center;
        align-self: flex-start;
        flex-direction: column;
        list-style: none;
        transition: 0.6s ease-in-out;
    }
    
    nav ul li{
        display: block;
        width: 100%;
        margin-top: 20px;
    }
    
    nav ul li a{
        border: px solid red;
        display: block;
        padding: 22px 50px;
    
        /* FONTS */
    
        font-family: 'Monda',sans-serif;
        font-weight: 400;
        color: #fefefe;
        text-decoration: none;
        
    }
    
    .onpa{
        font-weight: 700;
    }

    .check-menu:checked ~ ul{
        left: -1px;
    }

    .fa-solid.fa-bars{
        display: block;
        border: px solid white;
        position: absolute;
        right: 10px;
        font-size: 30px;
        line-height: 0px;
        color: #fefefe;
        
    }


    .landing{
        border: px solid red;
        width: 100%;
        height: 500px;
        position: relative;
        display: none;
    }

    .landing-mb{
        display: initial;
        border: px solid red;
        width: 100%;
        height: 700px;
        position: relative;
    }
    
    .box1{
        border: px solid red;
        height: 90px;
        width: 90px;
        background-color: #F14C38;
        position: absolute;
        top: 580px;
        left: 50px;
    }
    
    .quote{
        border: px solid red;
        position: absolute;
        top: 380px;
        left: 0px;
        width: 100%;
        text-align: center;
    
    
        /* FONTS */
    
        font-family: 'Raleway',sans-serif;
        font-size: 37px;
        font-weight: 700;
        line-height: 37px;
        color: #FEFEFE;
    }
    
    
    .quote2{
        border: px solid red;
        position: absolute;
        top: 340px;
        left: 100px;
        width: 25%;
        line-height: 22px;
        display: none;
    
    
        /* FONTS */
    
        font-family: 'Raleway',sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: #FEFEFE;
    }
    
    .slider{
        border: 0px solid white;
        position: absolute;
        top: 60px ;
        right: 0px;
        width: 90%;
        height: 300px;
        width: 100%;
        text-align: center;
    }
    
    .slider-h-w{
        height: 100%;
        width: 90%;
        border: px solid red;
    }
    
    .slider-images{
        height: 300px;
        width: 100%;
    }
    
    
.start-quiz{
    border: px solid black;
    height: 600px;
    position: relative;
    margin-top: 180px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: url(images/bgimg.jpg),rgba(0,0,0,.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

.startquiz-section{
    border: px solid blue;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -120px;
    left: 50%;
    transform: translate(-50%);
    float: left;
}

.heading-start{
    border: px solid red;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    text-align: center;
    /* fonts */

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #F14C38;
}

.heading-select{
    border: px solid red;
    width: 100%;
    position: relative;
    top: 0px;
    text-align: center;
    left: 0px;

        /* fonts */

        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #F14C38;
}

.levels{
    border: px solid black;
    width: 95%;
    height: 90%;
    float: initial;
    margin-right: 0%;
    left: 50%;
    transform: translate(-50%);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 30px;
}

.card-level{
    border: px solid red;
    background-color: #fefefe;
    border-radius: 0px;
    position: relative;
}

.card-level .logo-sel{
    border: px solid red;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 45%;
    background-color: #F14C38;
    transition: 0.4s ease-in-out;
    

    /* FONTS */
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #FEFEFE;
}

.card-level .difficulty{
    border: px solid red;
    position: absolute;
    top: 65%;
    text-align: center;
    width: 100%;
    transition: 0.s ease-in-out;
    
    /* FONTS */
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #F14C38;
}

.card-level:hover .difficulty{
    color: #1F5EAB;

}


.card-level:hover .logo-sel{
    background-color: #1F5EAB;

}


.card-level:hover{
    border: 2px solid #1F5EAB;
    border-radius: 4px;

}


/* Countdown Section */

.countdown{
    border: px solid red;
    margin-top: 15px;
    width: 100%;
    height: 250px;
    background: url("images/NUMBER.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
}

.count-sec{
    border: px solid white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.num{
    /* border-bottom: 3px solid #fefefe; */

    /* FONTS */
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #fefefe;
}
.name-of-perosonal{
    border-top: 3px solid #FEFEFE;
    text-align: center;
    /* FONTS */
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #FEFEFE;
}
}

@media  screen and (min-width:701px) and (max-width:900px) {
    .menu-bg{
        width: 100%;
        height: 800px;
    }
    
    nav{
        border: px solid red;
        height: 60px;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
    }
    
    .micro-soft{
        border: px solid red;
        float: left;
        position: absolute;
        left: 80px;
        
        /* FONTS */
    
        font-family: 'Poppins',sans-serif;
        font-size: 30px;
        font-weight: 700;
        color: #fefefe;
    }
    
    .micro-logo{
        border: px solid white;
        height: 70%;
        margin-left: 0%;
        position: absolute;
        left: 20px;
    
    }
    nav ul{
        border: px solid white;
        width: 40%;
        height: 100%;
        float: right;
        margin-right: 5%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-self: flex-start;
        list-style: none;
    }
    
    nav ul li a{
        border: px solid red;
    
        /* FONTS */
    
        font-family: 'Monda',sans-serif;
        font-weight: 400;
        color: #fefefe;
        text-decoration: none;
        
    }
    
    .onpa{
        font-weight: 700;
    }
    .check-menu{
        display: none;
    }
       
    .landing{
        border: px solid red;
        width: 100%;
        height: 700px;
        position: relative;
        display: initial;
    }
    .landing-mb{
        border: px solid red;
        width: 100%;
        height: 600px;
        position: relative;
        display: none;
    }
    
    .box1{
        border: px solid red;
        height: 120px;
        width: 120px;
        background-color: #F14C38;
        position: absolute;
        top: 600px;
        left: 100px;
    }
    
    .quote{
        border: px solid red;
        position: absolute;
        top: 120px;
        left: 50px;
        width: 50%;
    
    
        /* FONTS */
    
        font-family: 'Raleway',sans-serif;
        font-size: 50px;
        font-weight: 700;
        line-height: 50px;
        color: #FEFEFE;
    }
    
    
    .quote2{
        border: px solid red;
        position: absolute;
        top: 300px;
        left: 50px;
        width: 40%;
        line-height: 22px;
    
    
        /* FONTS */
    
        font-family: 'Raleway',sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: #FEFEFE;
    }
    
    .slider{
        border: px solid white;
        position: absolute;
        top: 100px ;
        right: 0px;
        width: 50%;
        height: 370px;
    }
    
    .slider-h-w{
        height: 100%;
        width: 100%;
    }
    
    .slider-images{
        height: 370px;
        width: 100%;
    }

    /* Start Quiz Section */
.start-quiz{
    border: px solid red;
    height: 400px;
    margin-top: 150px;
    margin-bottom: 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: url(images/bgimg.jpg),rgba(0,0,0,.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

.startquiz-section{
    border: px solid blue;
    width: 100%;
    height: 100%;
    float: left;
    position: absolute;
    top: -120px;
    left: 50%;
    transform: translateX(-50%);
}

.heading-start{
    border: px solid red;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    text-align: center;
    /* fonts */

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 55px;
    color: #F14C38;
}

.heading-select{
    border: px solid red;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    text-align: center;

        /* fonts */

        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: #F14C38;
}

.levels{
    border: px solid black;
    width: 90%;
    height: 80%;
    float: right;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 50px;
    row-gap: 30px;
}

.card-level{
    border: px solid red;
    background-color: #fefefe;
    border-radius: 0px;
    position: relative;
}

.card-level .logo-sel{
    border: px solid red;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #F14C38;
    transition: 0.4s ease-in-out;
    

    /* FONTS */
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #FEFEFE;
}

.card-level .difficulty{
    border: px solid red;
    position: absolute;
    top: 70%;
    text-align: center;
    width: 100%;
    transition: 0.s ease-in-out;
    
    /* FONTS */
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #F14C38;
}


/* Countdown Section */

.countdown{
    border: px solid red;
    margin-top: 15px;
    width: 100%;
    height: 300px;
    background: url("images/NUMBER.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}

.count-sec{
    border: px solid white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.num{
    /* border-bottom: 3px solid #fefefe; */

    /* FONTS */
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #fefefe;
}
.name-of-perosonal{
    border-top: 3px solid #FEFEFE;
    
    /* FONTS */
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #FEFEFE;
}

}


.head{
    /* display: flex; */
    align-items: left;
}
.head hr{
    border: px solid blue;
    height: 5px;
    width: 200px;
    background-color:#F14C38;
    font-weight: bold;
}
/* footer */

*{
  margin: 0;
  padding:0;
}

.footer{
    width: 100%;
    background-color: #F14C38;
   margin-top: 100px;
    
  }
  .items-footer{
    display: grid;
    position: relative;
    top: 0px;
    left: 0px;
    grid-template-columns: 200px 200px 200px ;
    grid-template-rows: auto auto ;
  }
  .menu-footer{
      border: px solid black;
      position: relative;
      left: 380px;
      color: white;
        border: px solid white;
        width: 200px;
    }
  .menu-footer2{
      border:px solid black;
      position: absolute;
      right:150px;
        color: white;
        border: px solid white;
        width: 200px;
    }
  .logo-footer{
    border: px solid white;
    /* box-sizing: border-box; */
    position: relative;
    width: 200px;
    position: relative;
    left: 150px;
  }
  .logoimg-footer{
    border: px solid black;
    width: 50px;
    position: relative;
    top: 20px;
    left: 65px;
  }
  .logo-footer h1{
    color: #fefefe;
    font-family: 'Roboto';
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 35px;
  }
  .social .fa{
    color: #fefefe;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 40%;
    padding: 6px;
    position: relative;
    left: 5px;
    bottom: 0px;
  }
    .menu-footer h3{
        font-family: 'Roboto';
        color: white;
        font-size: 23px;
        margin-top: 20px;
    }
    .menu-footer h4{
        font-family: 'montserrat';
        color: white;
        font-size: 14px;
        font-weight: 500;
        border: px solid black;
        margin-top: 10px;
        margin-left: 0px;
    }
    .menu-footer h4 .fa{
        margin-top: 0px;
        color: white;
        margin-left: 0px;
        font-size: 19px;
    }
    .menu-footer2 h3{
        font-family: 'Roboto';
        color: white;
        font-size: 23px;
        margin-top: 20px;
    }
    .menu-footer2 h4{
        font-family: 'montserrat';
        color: white;
        font-size: 14px;
        font-weight: 500;
        border: px solid black;
        margin-top: 9px;
        margin-left: 0px;
    }
    .bottom-footer{
      width:100%;
      /* position: absolute; */
      border: px solid black;
      text-align: center;
      font-family: 'poppins';
      background-color: #;
      color: rgba(0, 0, 0, 0.7);
      border: px solid black;
      height: 80px;
    }
    .bottom-footer img{
      width: 100%;
      position: absolute;
      height: 80px;
      left: 0;
      border: px solid black;
    }
    .bottom-footer #footer2img{
      width: 100%;
      position: absolute;
      height: 80px;
      left: 0;
      border: px solid black;
      display: none;
      background-position: stretch;
    }
    .bottom-footer h3{
      font-weight: 300;
      position: relative;
      top: 55px;
      border: px solid black;
      font-size: 15px;
    }
  @media(max-width:747px){
    .footer{
      height: auto;
      background-color: #F14C38;
      border: px solid black;
      
      
      width: 100vw;
    }
    .items-footer{
      display: grid;
      position: relative;
      top: 0px;
      left: 0px;
      left: 50%;
        transform: translate(-50%);
      grid-template-columns: 100vw;
      width:200px;
      /* left: calc(50vw - 100px); */
      border: px solid black;
      
    }
   
    
    .logo-footer{
      border: px solid white;
      /* box-sizing: border-box; */
      position: relative;
      width: 220px;
      position: relative;
      left:0;

    }
    .logoimg-footer{
      border: px solid black;
      width: 50px;
      position: relative;
      top: 20px;
      left: 50%;
        transform: translate(-50%);
    }
    .logo-footer h1{
      color: #fefefe;
      font-family: 'poppins';
      margin-top: 20px;
    }
    .social{
        border: px solid white;
        width:220px;
        text-align:center;
    }
    .social .fa{
      color: #fefefe;
      font-size: 20px;
      margin-right: 10px;
      border: 1px solid white;
      border-radius: 40%;
      padding: 6px;
      position: relative;
     left: 0px;
      bottom: 0px;
     
    } .menu-footer{
       
        position: relative;
        left: 0%;
        color: white;
          border: px solid white;
          width: 200px;
          text-align: center;
          margin-top: 20px;

      }
      .menu-footer h3{
          font-family: 'Roboto';
          color: white;
          font-size: 23px;
          margin-top: 20px;
      }
      .menu-footer h4{
          font-family: 'montserrat';
          color: white;
          font-size: 14px;
          font-weight: 500;
          border: px solid black;
          margin-top: 10px;
          margin-left: 0px;
      }
      .menu-footer h4 .fa{
          margin-top: 0px;
          color: white;
          left: 50%;
        transform: translate(-50%);
          font-size: 19px;
      }
      .menu-footer2{
        border:px solid black;
        position: relative;
        left:0%;
        text-align: center;
          color: white;
          border: px solid white;
          width: 200px;
          margin-top: 20px;
      }
      .menu-footer2 h3{
          font-family: 'Roboto';
          color: white;
          font-size: 23px;
          margin-top: 20px;
      }
      .menu-footer2 h4{
          font-family: 'montserrat';
          color: white;
          font-size: 14px;
          font-weight: 500;
          border: px solid black;
          margin-top: 9px;
          margin-left: 0px;
      }
      .bottom-footer{
        
        
   
        text-align: center;
        font-family: 'poppins';
        
        color: rgba(0, 0, 0, 0.7);
        border: px solid black;
        height: 80px;
        width: 100%;
       
      }
    
      .bottom-footer #footer1img{
        
        position: absolute;
        height: 80px;
        left: 0;
        border: px solid #1F5EAB;
        display: none;
        width: 0%;
      }
      .bottom-footer #footer2img{
        display: block;
        width: 100%;
        height: 80px;
        border: px solid #1F5EAB;
        

        
      }
      .bottom-footer h3{
        font-weight: 300;
        position: relative;
        top: 55px;
        border: px solid black;
        font-size: 11px;
        width: 250px;
        left: 50%;
        transform: translate(-50%);
      }

  
  
  }




 


  @media screen and (min-width:748px) and (max-width:1100px) {
    .footer{
      height: auto;
      width: 100%;
      background-color: #F14C38;
      
      
    }
    .items-footer{
      display: grid;
      position: relative;
      top: 0px;
      left: 0px;
      grid-template-columns:  1fr 1fr 1fr;
      
    }
   
    
    .logo-footer{
      border: px solid white;
      /* box-sizing: border-box; */
      position: relative;
      width: 200px;
      position: relative;
      left: 40px;
      
    }
    .logoimg-footer{
      border: px solid black;
      width: 50px;
      position: relative;
      top: 20px;
      left: 65px;
    }
    .logo-footer h1{
      color: #fefefe;
      font-family: 'poppins';
      margin-top: 20px;
    }
    .social .fa{
      color: #fefefe;
      font-size: 20px;
      margin-right: 10px;
      border: 1px solid white;
      border-radius: 40%;
      padding: 6px;
      position: relative;
      left: 10px;
      bottom: 0px;
    } .menu-footer{
        border: px solid black;
        position: relative;
        left: 40px;
        color: white;
          border: px solid white;
          width: 200px;
          /* text-align: ; */
          margin-top: 0px;
      }
      .menu-footer h3{
          font-family: 'Roboto';
          color: white;
          font-size: 23px;
          margin-top: 20px;
      }
      .menu-footer h4{
          font-family: 'montserrat';
          color: white;
          font-size: 14px;
          font-weight: 500;
          border: px solid black;
          margin-top: 10px;
          margin-left: 0px;
      }
      .menu-footer h4 .fa{
          margin-top: 0px;
          color: white;
          margin-left: 0px;
          font-size: 19px;
      }
      .menu-footer2{
        border:px solid black;
        position: relative;
        left: 40px;
        /* text-align: left; */
          color: white;
          border: px solid white;
          width: 200px;
          margin-top: 0px;
      }
      .menu-footer2 h3{
          font-family: 'Roboto';
          color: white;
          font-size: 23px;
          margin-top: 20px;
      }
      .menu-footer2 h4{
          font-family: 'montserrat';
          color: white;
          font-size: 14px;
          font-weight: 500;
          border: px solid black;
          margin-top: 9px;
          margin-left: 0px;
      }
      .bottom-footer{
        width:100%;
        /* position: absolute; */
        border: px solid black;
        text-align: center;
        font-family: 'poppins';
        background-color: #;
        color: rgba(0, 0, 0, 0.7);
        border: px solid black;
        height: 80px;
      }
      .bottom-footer img{
        width: 100%;
        position: absolute;
        height: 80px;
        left: 0;
        border: px solid black;
      }
      .bottom-footer h3{
        font-weight: 300;
        position: relative;
        top: 55px;
        border: px solid black;
        font-size: 15px;
      }
  }





  .about{
    /* border: 3px solid black; */
    height: auto;
    display: grid;
     justify-content: center;
   align-items: center;
grid-template-columns: 1fr 1fr;
}
.about-img{
    height: auto;
    /* padding: 10px; */
    /* border: 3px solid black; */
}
.about-img #bg{
    position: absolute;
    left: 30px;
    /* top:-50px; */
    width: 40vw;
    height:70vh;

}
.about-img #above{
    height: 400px;
    margin-left: 20px;
    margin-top: 50px;
    position: relative;
}
.about-content{
    /* border: 3px solid black; */
    height: auto;
   
} 
.about-content hr{
    background-color: #F14C38;
    height: 4px;
    width:80px;
    border-radius: 30px;
    opacity: 5;
    border: none;
    margin-top:15px;
} 
.about-content .head{
    display: flex;
    /* height: 200px; */
}
.about-content .head h4{
    color: #556172;
    /* border: 3px solid black; */
    font-size: 18px;
    margin-top: 4px;
    margin-left: 5px;
}
.about-content h1{
    width: 400px;
    color: #1F5EAB;
    font-weight: 600;
    position: relative;
    bottom: 20px;
}
.about-content p{
    width: 90%;
    font-size: 16px;
    line-height: 15px;
    position: relative;
    bottom: 10px;
}
.about-content img{
    width:24px;
    height:24px;
    /* border: 3px solid black; */
}
.about-content h6{
    /* border: 3px solid black; */
    margin-left: 4px;

}
.quality{
    display: flex;
    /* border: 3px solid black; */
    margin-bottom: 10px;
}
.quality h6{
    font-size: 16px;
    margin-top: 2px;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
  }
  
  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
  }
  *{
    /* border: 1px solid black; */
}
@media(max-width:747px){
    *{
        /* border: 1px solid black; */
    }
  .about{
    /* border: 3px solid black; */
    height: auto;
    display: grid;
     justify-content: center;
   align-items: center;
grid-template-columns: 1fr;
width: 100vw;
}
.about-img{
    height: auto;
    width: 100vw;
    /* padding: 10px; */
    /* border: 3px solid black; */
}
.about-img #above{
    height: 70%;
    width: 70vw;
    position: relative;
    margin-left: 10vw;
    margin-top: 50px;
}
.about-img #bg{
    position: absolute;
    top:20px;
    width: 80vw;
    height: 30vh;
    margin-left: 0vw;
}

.about-content{
    /* border: 3px solid black; */
    height: auto;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 70px;
} 
.about-content hr{
    background-color: #F14C38;
    height: 4px;
    width:80px;
    border-radius: 30px;
    opacity: 1;
    border: none;
} 
.about-content .head{
    display: flex;
    /* height: 200px; */
}
.about-content .head h4{
    color: #556172;
    /* border: 3px solid black; */
    font-size: 23px;
    margin-top: -4px;
    margin-left: 5px;
}
.about-content h1{
    width: 350px;
    color: #1F5EAB;
}
.about-content p{
    width: 90%;
    font-size: 14px;
    line-height: 15px;
}
.about-content img{
    width:24px;
    height:24px;
    /* border: 3px solid black; */
}
.about-content h6{
    /* border: 3px solid black; */
    margin-left: 4px;

}
.quality{
    display: flex;
    /* border: 3px solid black; */
    margin-bottom: 10px;
}

.button{
    margin-top: 30px;
    color: white;
    background-color: #F14C38;
    text-decoration: none;
    font-size:20px ;
     border-radius: 30px;
     /* padding: 10px 20px; */
     margin-top: px;
     position: relative;
     top: 0px;
     /* border: 3px solid black;  */
     display: flex;
     justify-content: center;
     align-items: center;
     width: 159px;
     height: 50px;
}
}



@media screen and (min-width:748px) and (max-width:1100px){
    *{
        /* border: 1px solid  black; */
    }
    .about{
        /* border: 3px solid black; */
        height: auto;
        display: grid;
         justify-content: center;
       align-items: center;
    grid-template-columns: 50vw 50vw;
    /* width: 100vw; */
    }
    .about-img{
        height: auto;
        /* padding: 10px; */
        /* border: 3px solid black; */
    }
    .about-img #above{
        height: 250px;
        margin-left: 20px;
        margin-top: 50px;
        position: relative;
    }
    .about-img #bg{
        position: absolute;
        
        height: 350px;
        top: 100px;
    }
    .about-content{
        /* border: 3px solid black; */
        height: auto;
       margin-top: 50px;
       /* width: 40vw; */
    } 
    .about-content hr{
        background-color: #F14C38;
        height: 4px;
        width:80px;
        border-radius: 30px;
        opacity: 1;
        border: none;
    } 
    .about-content .head{
        display: flex;
        /* height: 200px; */
    }
    .about-content .head h4{
        color: #556172;
        /* border: 3px solid black; */
        font-size: 18px;
        margin-top: 4px;
        margin-left: 5px;
    }
    .about-content h1{
        width: 80%;
        color: #1F5EAB;
    }
    .about-content p{
        width: 90%;
        font-size: 14px;
        line-height: 15px;
    }
    .about-content img{
        width:24px;
        height:24px;
        /* border: 3px solid black; */
    }
    .about-content h6{
        /* border: 3px solid black; */
        margin-left: 4px;
    
    }
    .quality{
        display: flex;
        /* border: 3px solid black; */
        margin-bottom: 10px;
        width: 90%;
    }
    
    .button{
        margin-top: 0px;
        color: white;
        background-color: #F14C38;
        text-decoration: none;
        font-size:20px ;
         border-radius: 30px;
         /* padding: 10px 20px; */
         margin-top: px;
         position: relative;
         top: 0px;
         /* border: 3px solid black;  */
         display: flex;
         justify-content: center;
         align-items: center;
         width: 159px;
         height: 50px;
    }
}





.adv{
    /* border: 3px solid black; */
    height: auto;
    display: grid;
     justify-content: center;
   align-items: center;
grid-template-columns:60% 40%;
margin-top: 50px;

}
.adv-img{
    height: auto;
    width :100%;
    /* padding: 10px; */
    /* border: 3px solid black; */
    float: right;
}
.adv-img #bg{
    position: absolute;
    top:0px;
    width:35vw;
    height: 75vh;
}
.adv-img #above{
    height: 400px;
    margin-left: 0px;
    /* border: 3px solid black; */
    width: 80%;
    margin-top: 50px;
    position: relative;
}
.adv-content{
    /* border: 3px solid black; */
    height: auto;
    margin-left: 60px;
} 
.adv-content hr{
    background-color: #F14C38;
    height: 3px;
    width:80px;
    border-radius: 30px;
    opacity: 1;
    border: none;
   margin-top:15px;
} 
.adv-content .head{
    display: flex;
    /* height: 200px; */
}
.adv-content .head h4{
    color: #556172;
    /* border: 3px solid black; */
    font-size: 18px;
    margin-top: 4px;
    margin-left: 5px;
}
.adv-content h1{
    width: 70%;
    color: #1F5EAB;
    font-weight: 600;
    position: relative;
    bottom: 20px;
}
.adv-content p{
    width: 90%;
    font-size: 17px;
    line-height: 25px;
    margin-top: -20px;
}
.adv-content img{
    width:24px;
    height:24px;
    /* border: 3px solid black; */
}
.adv-content h6{
    /* border: 3px solid black; */
    margin-left: px;
    margin-top: 0px;
}
.quality-adv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 3px solid black; */
    margin-bottom: 10px;
    height: 200px;
    margin-top: 50px;
}
.div-one , .div-two{
    
    /* border: 3px solid black; */
    height: 200px;

}
.div-one h4 , .div-two h4{
    color: #1F5EAB;
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
    /* border: 3px solid black; */
    
}
.div-one h6 , .div-two h6{
    
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
  
    
}
.ti-stamp ,.ti-pencil-alt{
    background-color: #fff0e0;
    border-radius: 50%;
    padding: 15px;
    font-size: 22px;
    margin-top: 90px;
}
.reveal{
    position: relative;
    transform: translateY(-150px);
    opacity: 0;
    transition: all 1s ease;
  }
  
  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
  }
 @media(max-width:747px){
    
.adv{
   /* border: 3px solid black;  */
    height: auto;
    display: grid;
     justify-content: center;
   align-items: center;
grid-template-columns:1fr;
margin-top: 50px;
width: 90vw;
}
.adv-img{
    height: auto;
    width :100vw;
    /* padding: 10px; */
    /* border: 3px solid black; */
    float: right;
    
}
.adv-img #bg{
    position: absolute;
    top: 470px;
        
          width: 80vw;
    height: 40vh;
    margin-left: 0vw;
       
    margin-top: 0px;
    left: 50%;
    transform: translate(-50%);
}


.adv-img #above{
    height: 70%;
    width: 70vw;
    position: relative;
    margin-left: 10vw;
    margin-top: 50px;
    left: 50%;
    transform: translate(-50%);
}




.adv-content{
    /* border: 3px solid black;*/
    height: auto;
    margin-left: 30px;
} 
.adv-content hr{
    background-color: #F14C38;
    height: 4px;
    width:80px;
    border-radius: 30px;
    opacity: 1;
    border: none;
} 
.adv-content .head{
    display: flex;
    /* height: 200px; */
}
.adv-content .head h4{
    color: #556172;
    /* border: 3px solid black; */
    font-size: 18px;
    margin-top: 4px;
    margin-left: 5px;
}
.adv-content h1{
    width: 70%;
    color: #1F5EAB;
}
.adv-content p{
    width: 90%;
    font-size: 13px;
    line-height: 15px;
    margin-top: 30px;
}
.adv-content img{
    width:24px;
    height:24px;
    /* border: 3px solid black; */
}
.adv-content h6{
    /* border: 3px solid black; */
    margin-left: px;
    margin-top: 0px;
    font-size: 14px;
    width: 170px;
}
.quality-adv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 3px solid black; */
    margin-bottom: 10px;
    height: 200px;
    margin-top: 50px;
}
.div-one , .div-two{
    
    /* border: 3px solid black; */
    height: 200px;

}
.div-one h4 , .div-two h4{
    color: #1F5EAB;
    margin-top: 20px;
    /* border: 3px solid black; */
    font-size: 15px;
    
}
.ti-stamp ,.ti-pencil-alt{
    background-color: #fff0e0;
    border-radius: 50%;
    padding: 15px;
    font-size: 22px;
    margin-top: 90px;
}

}



@media screen and (min-width:748px) and (max-width:1100px){
    .adv{
        /* border: 3px solid black; */
        height: auto;
        display: grid;
         justify-content: center;
       align-items: center;
    grid-template-columns:60% 40%;
    margin-top: 50px;
    width:90vw;
    }
    .adv-img{
        height: auto;
        width :35vw;
        /* padding: 10px; */
        /* border: 3px solid black; */
        float: right;
    }
    .adv-img #above{
        height: 270px;
        margin-left: 0px;
        /* border: 3px solid black; */
        width: 95%;
        margin-top: -200px;
        position: relative;
    }
   
    .adv-img #bg{
        position: absolute;
        /* top: 500px; */
        height: 25vh;
            right: 20px;
            /* border: 3px solid black; */
            width:35vw;

    }

    

    .adv-content{
        /* border: 3px solid black; */
        height: auto;
        margin-left: 60px;
    } 
    .adv-content hr{
        background-color: #F14C38;
        height: 4px;
        width:80px;
        border-radius: 30px;
        opacity: 1;
        border: none;
    } 
    .adv-content .head{
        display: flex;
        /* height: 200px; */
    }
    .adv-content .head h4{
        color: #556172;
        /* border: 3px solid black; */
        font-size: 18px;
        margin-top: 4px;
        margin-left: 5px;
    }
    .adv-content h1{
        width: 70%;
        color: #1F5EAB;
    }
    .adv-content p{
        width: 90%;
        font-size: 14px;
        line-height: 20px;
        margin-top: 30px;
    }
    .adv-content img{
        width:24px;
        height:24px;
        /* border: 3px solid black; */
    }
    .adv-content h6{
        /* border: 3px solid black; */
        margin-left: px;
        margin-top: 0px;
    }
    .quality-adv{
        display: grid;
        gap: 50px;
        grid-template-columns: 1fr 1fr;
        /* border: 3px solid black; */
        margin-bottom: 10px;
        height: 200px;
        margin-top: 50px;
        width: 80vw;
    }
    .div-one , .div-two{
        
        /* border: 3px solid black; */
        height: 200px;
    
    }
    .div-one h4 , .div-two h4{
        color: #1F5EAB;
        margin-top: 20px;
        /* border: 3px solid black; */
        
    }
    .ti-stamp ,.ti-pencil-alt{
        background-color: #fff0e0;
        border-radius: 50%;
        padding: 15px;
        font-size: 22px;
        margin-top: 90px;
    }
}



#testimonial_area {
	padding: 5% 0;
    /* border: 1px solid black; */
}
.box-area {
	padding: 30px;
	position: relative;
	display: block;
	background: #fff;
	color: #000;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin: 40px 0;
}
.box-area h5 {
	font-size: 16px;
	font-weight: 700;
	color: #1F5EAB;
	margin-top: 30px;
	margin-bottom: 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.box-area span {
	color: #262626;
	display: block;
	font-size: 13px;
	margin: 0 0 10px;
	font-weight: 400;
}
.box-area .content {
	color: #262626;
}
.box-area .img-area {
	width: 90px;
	height: 90px;
	position: absolute;
	top: -40px;
	left: 0;
	bottom: 0;
	margin: 0 auto;
	right: 0;
	z-index: 1;
	border: 5px solid #fff;
	border-radius: 50%;
	box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}
.box-area .img-area img {
	width: 100%;
	height: auto;
	border-radius: 50%;
}
.socials {
	margin-top: 30px;
}
.socials i {
	margin: 0 10px;
	color: #1F5EAB;
	font-size: 18px;
}
#testimonial_area .owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
}
#testimonial_area .owl-prev, #testimonial_area .owl-next {
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #1F5EAB;
	border-radius: 50%;
	text-align: center;
	background: #fff;
	position: absolute;
}
#testimonial_area .owl-prev {
	left: -60px;
	top: -30px;
}
#testimonial_area .owl-next {
	right: -60px;
	top: -30px;
}
@media only screen and (max-width: 991px) {
	.owl-nav {
		display: none;
	}
}
@media only screen and (max-width: 767px) {
	.box-area {
		text-align: center;
	}
	.owl-nav {
		display: none;
	}
}




@media(max-width:747px){
    #testimonial_area{
        display: none;
    }
}