
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat:wght@400;600;800;900&family=Noto+Sans:wght@400;700&family=Poppins:wght@400;700;900&family=Raleway:wght@600&family=Roboto:wght@100;300;400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("images/quiz\ ques\ bg.jpg");
    min-height: 100vh;
    background-size: cover;
    /* border: 1px solid red; */
}

#head-ques{
    border: px solid red;
    display: inline-block;
    margin: 50px 0px 0px 50px;

    /* FONTS */
    font-family: 'Kanit',sans-serif;
    font-size: 35px;
    color: #FEFEFE;
}

.circles{
    border: px solid red;
    width: 410px;
    height: 50px;
    margin: 10px 0px 0px 50px;
    
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto;
    column-gap: 20px;

    /* FONTS */
    font-family: 'Kanit',sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #5C5C5C;
}

.cl-cir{
    border: px solid red;
    width: 50px;
    border-radius: 50%;
    background-color: #E99187;
    display: flex;
    justify-content: center;
    align-items: center;

}

hr{
    width: 30px;
    height: 2px;
    line-height: 50px;
    align-self: center;
    background-color: #E99187;
    border: none;
}

.on-ques{
    background-color: #F14C38;
    color: #FEFEFE;
}

.question{
    border: px solid red;
    position: absolute;
    width: 350px;
    top: 300px;
    left: 80px;
    z-index: 100000;

    /* FONTS */
    font-family: 'Poppins',sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #FEFEFE;
    
}

.illustration-img{
    width: 400px;
    height: 400px;
    position: absolute;
    left: 35%;
    z-index: 1000;
    top: 30%;
}

.options{
    border: px solid red;
    position: absolute;
    right: 100px;
    top: 250px;
    width: 23%;
    height: 300px;
    display: grid;
    grid-template-columns: 20% 80%; 
    grid-template-rows: auto auto auto auto;
    column-gap: 0px;
    row-gap: 20px;

    /* FONTS */

    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #3C3333;
}



.opt-cl{
    border: px solid black;
    border-radius: 30px;
    background-color: #FFC8C8;
    width: 250px;
    display: flex;
    justify-content: center;    
    align-items: center;

    
}

.abcd{
    border: px solid red;
    border-radius: 50%;
    background-color: #FFC8C8;
    display: flex;
    justify-content: center;    
    align-items: center;
    font-size: 20px;
    width: 60px;
    height: 60px;
}

.on-cl{
    background-color: #FF3762;
    color: #fefefe;
    box-sizing: border-box;
    border: 4px solid #FFC8C8;
    
}

.btn-div{
    border: px solid red;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 50px;   
}
.btn-nextques{
    border: 0px solid red;
    padding: 12px 18px;
    border-radius: 20px;
    background-color: #1E1E1E;

    /* FONTS */

    color: #fefefe;
    font-family: 'Kanit',sans-serif;
    font-size: 16px;
}

.fa-arrow-right{
    margin-left: 5px;
}




@media screen and (max-width:700px) {
    *{
        margin: 0;
        padding: 0;
    }
    
    body{
        background-image: url("images/quiz\ ques\ bg.jpg");
        min-height: 100vh;
        background-size: contain;
        /* border: 1px solid red; */
    }
    
    #head-ques{
        border: px solid red;
        display: inline-block;
        width: 100%;
        margin: 5% 0px 0px 0px;
        text-align: center;
    
        /* FONTS */
        font-family: 'Kanit',sans-serif;
        font-size: 25px;
        color: #FEFEFE;
    }
    
    .circles{
        border: px solid red;
        width: 60%;
        height: 30px;
        margin: 0px auto;
        margin-top: 5%;
        
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
        grid-template-rows: auto;
        column-gap: 5px;
    
        /* FONTS */
        font-family: 'Kanit',sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: #5C5C5C;
    }
    
    .cl-cir{
        border: px solid red;
        width: 30px;
        border-radius: 50%;
        background-color: #E99187;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    hr{
        width: 20px;
        height: 4px;
        line-height: 50px;
        align-self: center;
        background-color: #E99187;
        border: none;
    }
    
    .on-ques{
        background-color: #F14C38;
        color: #FEFEFE;
    }
    
    .question{
        border: px solid red;
        position: absolute;
        width: 100%;
        top: 18%;
        left: 0px;
        margin: 0px auto;
        box-sizing: border-box;
        padding: 0px 55px;
    
        /* FONTS */
        font-family: 'Poppins',sans-serif;
        font-size: 24px;
        font-weight: 700;
        color: #FEFEFE;
        text-align: center;
        
    }
    
    .illustration-img{
        width: 400px;
        height: 400px;
        position: absolute;
        left: 35%;
        z-index: 1000;
        top: 30%;
        display: none;
    }
    
    .options{
        border: px solid red;
        position: absolute;
        right: 0px;
        left: 0px;
        top: 30%;
        width: 70%;
        height: 250px;
        display: grid;
        grid-template-columns: 20% 80%; 
        grid-template-rows: auto auto auto auto;
        column-gap: 15px;
        row-gap: 20px;
        align-self: center;
        margin: 20px auto;
    
        /* FONTS */
    
        font-family: 'Roboto',sans-serif;
        font-weight: 600;
        font-size: 20px;
        color: #3C3333;
    }
    
    
    
    .opt-cl{
        border: px solid black;
        border-radius: 30px;
        background-color: #FFC8C8;
        width: 200px;
        display: flex;
        justify-content: center;    
        align-items: center;
    
        
    }
    
    .abcd{
        border: px solid red;
        border-radius: 50%;
        background-color: #FFC8C8;
        display: flex;
        justify-content: center;    
        align-items: center;
        font-size: 20px;
    }
    
    .on-cl{
        background-color: #FF3762;
        color: #fefefe;
        box-sizing: border-box;
        border: 4px solid #FFC8C8;
        
    }
    
    .btn-div{
        border: px solid red;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 0px;
        top: 80%;   
    }
    .btn-nextques{
        border: 0px solid red;
        padding: 12px 18px;
        border-radius: 20px;
        background-color: #1E1E1E;
    
        /* FONTS */
    
        color: #fefefe;
        font-family: 'Kanit',sans-serif;
        font-size: 16px;
    }
    
    .fa-arrow-right{
        margin-left: 5px;
    }
}

@media screen and (min-width:700px) and (max-width:900px){
    body{
        background-image: url("images/quiz\ ques\ bg.jpg");
        min-height: 100vh;
        background-size: contain;
        /* border: 1px solid red; */
    }
    
    #head-ques{
        border: px solid red;
        display: inline-block;
        width: 100%;
        margin: 3% 0px 0px 0px;
        text-align: center;
    
        /* FONTS */
        font-family: 'Kanit',sans-serif;
        font-size: 28px;
        color: #FEFEFE;
    }
    
    .circles{
        border: px solid red;
        width: 40%;
        height: 40px;
        margin: 0px auto;
        margin-top: 2%;
        
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
        grid-template-rows: auto;
        column-gap: 5px;
    
        /* FONTS */
        font-family: 'Kanit',sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: #5C5C5C;
    }
    
    .cl-cir{
        border: px solid red;
        width: 40px;
        border-radius: 50%;
        background-color: #E99187;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    hr{
        width: 20px;
        height: 4px;
        line-height: 50px;
        align-self: center;
        background-color: #E99187;
        border: none;
    }
    
    .on-ques{
        background-color: #F14C38;
        color: #FEFEFE;
    }
    
    .question{
        border: px solid red;
        position: absolute;
        width: 100%;
        top: 18%;
        left: 0px;
        margin: 0px auto;
        box-sizing: border-box;
        padding: 0px 55px;
    
        /* FONTS */
        font-family: 'Poppins',sans-serif;
        font-size: 32px;
        font-weight: 700;
        color: #FEFEFE;
        text-align: center;
        
    }
    
    .illustration-img{
        width: 30%;
        height: 30%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        top: 22%;
    }
    
    .options{
        border: px solid red;
        position: absolute;
        right: 0px;
        left: 0px;
        top: 50%;
        width: 40%;
        height: 35%;
        display: grid;
        grid-template-columns: 20% 80%; 
        grid-template-rows: auto auto auto auto;
        column-gap: 15px;
        row-gap: 20px;
        align-self: center;
        margin: 20px auto;
    
        /* FONTS */
    
        font-family: 'Roboto',sans-serif;
        font-weight: 600;
        font-size: 20px;
        color: #3C3333;
    }
    
    
    
    .opt-cl{
        border: px solid black;
        border-radius: 30px;
        background-color: #FFC8C8;
        width: 250px;
        display: flex;
        justify-content: center;    
        align-items: center;
    
        
    }
    
    .abcd{
        border: px solid red;
        border-radius: 50%;
        background-color: #FFC8C8;
        display: flex;
        justify-content: center;    
        align-items: center;
        font-size: 20px;
        height: auto;
        width: 100%;
    }
    
    .on-cl{
        background-color: #FF3762;
        color: #fefefe;
        box-sizing: border-box;
        border: 4px solid #FFC8C8;
        
    }
    
    .btn-div{
        border: px solid red;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 0px;
        top: 90%;   
    }
    .btn-nextques{
        border: 0px solid red;
        padding: 1% 2%;
        border-radius: 20px;
        background-color: #1E1E1E;
    
        /* FONTS */
    
        color: #fefefe;
        font-family: 'Kanit',sans-serif;
        font-size: 24px;
    }
    
    .fa-arrow-right{
        margin-left: 5px;
    }
}