@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat:wght@400;600;800;900&family=Noto+Sans:wght@400;700&family=Poppins:wght@400;700;900&family=Raleway:wght@600&family=Roboto:wght@100;300;400;700;900&display=swap');
*{
    padding: 0;margin: 0;
}

/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */
#ques{
    transition: all 10s;
}
#ques .act{
    filter: blur(0.7px);
}
#ist-main{
    width: 60%;
    border-radius: 30px;
    /* border: 5px solid black; */
    position: absolute;
    height: 80vh;
    box-shadow: 7px 2px 12px 0px rgba(0, 0, 0, 0.3);
     left: 50%;
     top: 50%;
    /* transform: translate(-50%); */
    transform: translate(-50%,-50%);
    background-color: white;
    z-index: 5000;

}
#questions1{
    z-index: -500;
}

#ist-1{
    display: inline-block;
    width: 30vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* border: 1px solid black; */
    margin-left: 20px;
}

#ist-1 img{
    width: 100%;
}

#ist-2{
    display: inline-block;
    width: 90%;
    height: 100%;
    position: absolute;
    right: 0%;
}
#ist-2 img{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    border-bottom-right-radius: 26px;
    border-top-right-radius: 26px;
}

#ist-2 h1{
    padding-top: 8%;
    margin-left: 43.2%;
    color: white;
    font-size: 60px;
    font-family: 'Roboto',sans-serif;
}

#ist-2-bac p{
    position: absolute;
    right: 50px;
    color: white;
    font-family: 'Montserrat',sans-serif;
    margin-top: 50px;
    /* margin-right: 90px; */
    /* text-align: right; */
    font-size: 18px;
    width: 50%;
}

#ist-container input{
    position: absolute;
    bottom: 100px;
    left: 50%;
    padding: 8px 50px;
    font-size: 28px;
    background-color: white;
    border: white;
    color: red;
    font-weight: bolder;
    border-radius: 10px;
}

#ist-container input:hover{
    background-color: rgb(254, 232, 232);
    cursor: pointer;
}

@media screen and (max-width:700px) {
    #ist-main{
        width: 90%;
        border-radius: 30px;
        /* border: 5px solid black; */
        position: absolute;
        height: 300px;
        left: 50%;
        top: 50%;
       /* transform: translate(-50%); */
       transform: translate(-50%,-50%);
        box-shadow: 7px 2px 12px 0px rgba(0, 0, 0, 0.3);
    }
    
    
    #ist-1{
        display: inline-block;
        width: 30vw;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    #ist-1 img{
        width: 80%;
    }
    
    #ist-2{
        display: inline-block;
        width: 90%;
        height: 100%;
        position: absolute;
        right: 0%;
    }
    #ist-2 img{
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
        border-bottom-right-radius: 26px;
        border-top-right-radius: 26px;
    }
    
    #ist-2 h1{
        padding-top: 7%;
        margin-left: 0%;
        margin-right: 30px;
        border: px solid red;
        color: white;
        font-size: 25px;
        text-align: right;
    }
    
    #ist-2-bac p{
        position: absolute;
        right: 26px;
        color: white;
        margin-top: 30px;
        /* margin-right: 90px; */
        /* text-align: right; */
        font-size: 12px;
        width: 65%;
        text-align: right;
    }
    
    #ist-container input{
        position: absolute;
        bottom: 30px;
        left: 70%;
        padding: 10px 20px;
        font-size: 16px;
        background-color: white;
        border: white;
        color: red;
        font-weight: bolder;
        border-radius: 10px;
        border: px solid navy;
        /* width: 120px; */
    }
    
    #ist-container input:hover{
        background-color: rgb(254, 232, 232);
        cursor: pointer;
    }
}





@media screen and (min-width:700px) and (max-width:900px) {
    #ist-main{
        width: 90%;
        border-radius: 30px;
        /* border: 5px solid black; */
        position: absolute;
        height: 600px;
        box-shadow: 7px 2px 12px 0px rgba(0, 0, 0, 0.3);
         left: 50%;
     top: 50%;
     transform: translate(-50%); 
    transform: translate(-50%,-50%); 
    }
    
    
    #ist-1{
        display: inline-block;
        width: 30vw;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    #ist-1 img{
        width: 80%;
    }
    
    #ist-2{
        display: inline-block;
        width: 90%;
        height: 100%;
        position: absolute;
        right: 0%;
    }
    #ist-2 img{
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
        border-bottom-right-radius: 26px;
        border-top-right-radius: 26px;
    }
    
    #ist-2 h1{
        padding-top: 7%;
        margin-right: 8%;
        color: white;
        font-size: 50px;
        text-align: right;
    }
    
    #ist-2-bac p{
        position: absolute;
        right: 50px;
        color: white;
        margin-top: 50px;
        /* margin-right: 90px; */
        /* text-align: right; */
        font-size: 1.3rem;
        width: 50%;
        text-align: right;
    }
    
    #ist-container input{
        position: absolute;
        bottom: 80px;
        left: 69%;
        padding: 15px 55px;
        font-size: 1.8rem;
        background-color: white;
        border: white;
        color: red;
        font-weight: bolder;
        border-radius: 10px;
    }

    #ist-container input:hover{
        background-color: rgb(254, 232, 232);
        cursor: pointer;
    }
}




















@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat:wght@400;600;800;900&family=Noto+Sans:wght@400;700&family=Poppins:wght@400;700;900&family=Raleway:wght@600&family=Roboto:wght@100;300;400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("images/quiz\ ques\ bg.jpg");
    min-height: 100vh;
    background-size: cover;
    /* border: 1px solid red; */
}

#head-ques{
    border: px solid red;
    display: inline-block;
    margin: 50px 0px 0px 50px;

    /* FONTS */
    font-family: 'Kanit',sans-serif;
    font-size: 35px;
    color: #FEFEFE;
}

.circles{
    border: px solid red;
    width: 410px;
    height: 50px;
    margin: 10px 0px 0px 50px;
    
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto;
    column-gap: 20px;


    /* FONTS */
    font-family: 'Kanit',sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #5C5C5C;
}

.cl-cir{
    border: px solid red;
    width: 50px;
    border-radius: 50%;
    background-color: #E99187;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s ease-in;
}

hr{
    width: 30px;
    height: 2px;
    line-height: 50px;
    align-self: center;
    background-color: #E99187;
    border: none;
    transition: 0.6s ease-in;
}

.on-ques{
    background-color: #F14C38;
    color: #FEFEFE;
}

.question{
    border: px solid red;
    position: absolute;
    width: 350px;
    top: 250px;
    left: 80px;
    z-index: 100000;

    /* FONTS */
    font-family: 'Poppins',sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #FEFEFE;
    
}

.illustration-img{
    width: 400px;
    height: 400px;
    position: absolute;
    left: 35%;
    z-index: 1000;
    top: 15%;
    z-index: -50;
}

.options{
    border: px solid red;
    position: absolute;
    right: 100px;
    top: 250px;
    width: 23%;
    height: 300px;
    display: grid;
    grid-template-columns: 20% 80%; 
    grid-template-rows: auto auto auto auto;
    column-gap: 0px;
    row-gap: 20px;
/* z-index: -5; */
    /* FONTS */

    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #3C3333;
}



.opt-cl{
    border: px solid black;
    border-radius: 30px;
    background-color: #FFC8C8;
    width: 250px;
    display: flex;
    justify-content: center;    
    align-items: center;

    
}

.abcd{
    border: px solid red;
    border-radius: 50%;
    background-color: #FFC8C8;
    display: flex;
    justify-content: center;    
    align-items: center;
    font-size: 20px;
    width: 60px;
    height: 60px;
}

.on-cl{
    background-color: #FF3762;
    color: #fefefe;
    box-sizing: border-box;
    border: 4px solid #FFC8C8;
    
}

.btn-div{
    border: px solid red;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 50px;   
    /* z-index: -50; */
}
.btn-nextques{
    border: 0px solid red;
    padding: 12px 18px;
    border-radius: 20px;
    background-color: #1E1E1E;

    /* FONTS */

    color: #fefefe;
    font-family: 'Kanit',sans-serif;
    font-size: 16px;
}

.fa-arrow-right{
    margin-left: 5px;
}

@media screen and (max-width:700px) {
    *{
        margin: 0;
        padding: 0;
    }
    
    body{
        background-image: url("images/quiz\ ques\ bg.jpg");
        min-height: 100vh;
        background-size: contain;
        /* border: 1px solid red; */
    }
    
    #head-ques{
        border: px solid red;
        display: inline-block;
        width: 100%;
        margin: 5% 0px 0px 0px;
        text-align: center;
    
        /* FONTS */
        font-family: 'Kanit',sans-serif;
        font-size: 25px;
        color: #FEFEFE;
    }
    
    .circles{
        border: px solid red;
        width: 60%;
        height: 30px;
        margin: 0px auto;
        margin-top: 5%;
        
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
        grid-template-rows: auto;
        column-gap: 5px;
    
        /* FONTS */
        font-family: 'Kanit',sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: #5C5C5C;
    }
    
    .cl-cir{
        border: px solid red;
        width: 30px;
        border-radius: 50%;
        background-color: #E99187;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    hr{
        width: 20px;
        height: 4px;
        line-height: 50px;
        align-self: center;
        background-color: #E99187;
        border: none;
    }
    
    .on-ques{
        background-color: #F14C38;
        color: #FEFEFE;
    }
    
    .question{
        border: px solid red;
        position: absolute;
        width: 100%;
        top: 18%;
        left: 0px;
        margin: 0px auto;
        box-sizing: border-box;
        padding: 0px 55px;
    
        /* FONTS */
        font-family: 'Poppins',sans-serif;
        font-size: 24px;
        font-weight: 700;
        color: #FEFEFE;
        text-align: center;
        
    }
    
    .illustration-img{
        width: 400px;
        height: 400px;
        position: absolute;
        left: 35%;
        z-index: -1000;
        top: 30%;
        display: none;
    }
    
    .options{
        border: px solid red;
        position: absolute;
        right: 0px;
        left: 0px;
        top: 30%;
        width: 70%;
        height: 250px;
        display: grid;
        grid-template-columns: 20% 80%; 
        grid-template-rows: auto auto auto auto;
        column-gap: 15px;
        row-gap: 20px;
        align-self: center;
        margin: 20px auto;
    
        /* FONTS */
    
        font-family: 'Roboto',sans-serif;
        font-weight: 600;
        font-size: 20px;
        color: #3C3333;
    }
    
    
    
    .opt-cl{
        border: px solid black;
        border-radius: 30px;
        background-color: #FFC8C8;
        width: 200px;
        display: flex;
        justify-content: center;    
        align-items: center;
    
        
    }
    
    .abcd{
        border: px solid red;
        border-radius: 50%;
        background-color: #FFC8C8;
        display: flex;
        justify-content: center;    
        align-items: center;
        font-size: 20px;
    }
    
    .on-cl{
        background-color: #FF3762;
        color: #fefefe;
        box-sizing: border-box;
        border: 4px solid #FFC8C8;
        
    }
    
    .btn-div{
        border: px solid red;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 0px;
        top: 80%;   
    }
    .btn-nextques{
        border: 0px solid red;
        padding: 12px 18px;
        border-radius: 20px;
        background-color: #1E1E1E;
    
        /* FONTS */
    
        color: #fefefe;
        font-family: 'Kanit',sans-serif;
        font-size: 16px;
    }
    
    .fa-arrow-right{
        margin-left: 5px;
    }
}

@media screen and (min-width:700px) and (max-width:900px){
    body{
        background-image: url("images/quiz\ ques\ bg.jpg");
        min-height: 100vh;
        background-size: contain;
        /* border: 1px solid red; */
    }
    
    #head-ques{
        border: px solid red;
        display: inline-block;
        width: 100%;
        margin: 3% 0px 0px 0px;
        text-align: center;
    
        /* FONTS */
        font-family: 'Kanit',sans-serif;
        font-size: 28px;
        color: #FEFEFE;
    }
    
    .circles{
        border: px solid red;
        width: 40%;
        height: 40px;
        margin: 0px auto;
        margin-top: 2%;
        
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
        grid-template-rows: auto;
        column-gap: 5px;
    
        /* FONTS */
        font-family: 'Kanit',sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: #5C5C5C;
    }
    
    .cl-cir{
        border: px solid red;
        width: 40px;
        border-radius: 50%;
        background-color: #E99187;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    hr{
        width: 20px;
        height: 4px;
        line-height: 50px;
        align-self: center;
        background-color: #E99187;
        border: none;
    }
    
    .on-ques{
        background-color: #F14C38;
        color: #FEFEFE;
    }
    
    .question{
        border: px solid red;
        position: absolute;
        width: 100%;
        top: 18%;
        left: 0px;
        margin: 0px auto;
        box-sizing: border-box;
        padding: 0px 55px;
    
        /* FONTS */
        font-family: 'Poppins',sans-serif;
        font-size: 32px;
        font-weight: 700;
        color: #FEFEFE;
        text-align: center;
        
    }
    
    .illustration-img{
        width: 30%;
        height: 30%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1000;
        top: 22%;
    }
    
    .options{
        border: px solid red;
        position: absolute;
        right: 0px;
        left: 0px;
        top: 50%;
        width: 40%;
        height: 35%;
        display: grid;
        grid-template-columns: 20% 80%; 
        grid-template-rows: auto auto auto auto;
        column-gap: 15px;
        row-gap: 20px;
        align-self: center;
        margin: 20px auto;
    
        /* FONTS */
    
        font-family: 'Roboto',sans-serif;
        font-weight: 600;
        font-size: 20px;
        color: #3C3333;
    }
    
    
    
    .opt-cl{
        border: px solid black;
        border-radius: 30px;
        background-color: #FFC8C8;
        width: 250px;
        display: flex;
        justify-content: center;    
        align-items: center;
    
        
    }
    
    .abcd{
        border: px solid red;
        border-radius: 50%;
        background-color: #FFC8C8;
        display: flex;
        justify-content: center;    
        align-items: center;
        font-size: 20px;
        height: auto;
        width: 100%;
    }
    
    .on-cl{
        background-color: #FF3762;
        color: #fefefe;
        box-sizing: border-box;
        border: 4px solid #FFC8C8;
        
    }
    
    .btn-div{
        border: px solid red;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 0px;
        top: 90%;   
    }
    .btn-nextques{
        border: 0px solid red;
        padding: 1% 2%;
        border-radius: 20px;
        background-color: #1E1E1E;
    
        /* FONTS */
    
        color: #fefefe;
        font-family: 'Kanit',sans-serif;
        font-size: 24px;
    }
    
    .fa-arrow-right{
        margin-left: 5px;
    }
}

/* POP-UP CODE */

#rst-container{
    background-color: #f14c38;
    border-radius: 30px;
    width: 50vw;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%) ;    
    z-index: 100000;
    display: flex;
    justify-content: center;
    box-shadow: 2px 5px 8px 5px rgba(0,0,0,0.3);
    visibility: hidden;
    

}

.fa-xmark{
    font-size:40px;
    position: absolute;
    right: 30px;
    top: 20px;
    color: #FEFEFE;
}


.heading{
    font-size: 50px;
    position: absolute;
    top: 30px;
    margin: 0px auto;

    /* FONTS */
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    color: #FEFEFE;

}

#rst-mainbox{
    width: 65%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    border: px solid green;
    position: relative;
    top: 140px;
}

.circle1,.circle2{
    border: 15px solid white;
    width: 200px;
    height: 100%;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sc-rm{
    text-align: center;
    width: 100%;
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    font-size: 34px;
    color: #FEFEFE;
}

.sc-scr{
    text-align: center;
    width: 100%; 
    font-family: 'Poppins',sans-serif;   
    font-size: 26px;
    font-weight: 600;
    color: #FEFEFE;

}
.user{
    position: absolute;
    top: 80%;
    border: px solid red;
    font-family: 'Raleway',sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #FEFEFE;

}

.perf{
    position: absolute;
    top: 70%;
    font-family: 'Kanit',sans-serif;
    color: #FEFEFE;
}

.blur{
    filter: blur(10px);
}

@media screen and (max-width: 700px){
    #rst-container{
        background-color: #f14c38;
        border-radius: 30px;
        width: 90%;
        height: 500px;
        position: absolute;
        display: flex;
        justify-content: center;
        box-shadow: 2px 5px 8px 5px rgba(0,0,0,0.3);
        
    
    }
    
    .fa-xmark{
        font-size: 30px;
        position: absolute;
        right: 20px;
        top: 20px;
    }
    
    
    .heading{
        font-size: 30px;
        position: absolute;
        top: 50px;
        margin: 0px auto;
    
        /* FONTS */
        font-family: 'Raleway',sans-serif;
        font-weight: 700;
    
    }
    
    #rst-mainbox{
        width: 90%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        border: px solid green;
        position: relative;
        top: 140px;
    }
    
    .circle1,.circle2{
        border: 10px solid white;
        width: 120px;
        height: 120px;
        border-radius:50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .sc-rm{
        text-align: center;
        width: 100%;
        font-family: 'Roboto',sans-serif;
        font-weight: 600;
        font-size: 24px;
    }
    
    .sc-scr{
        text-align: center;
        width: 100%; 
        font-family: 'Poppins',sans-serif;   
        font-size: 18px;
        font-weight: 600;
    
    }
    .user{
        position: absolute;
        top: 80%;
        border: px solid red;
        font-family: 'Raleway',sans-serif;
        font-weight: bold;
        font-size: 34px;
    
    }
    
    .perf{
        position: absolute;
        top: 70%;
        font-family: 'Kanit',sans-serif;
        font-size: 24px;
    }
    
}

@media screen and (min-width:701px) and (max-width:1000px) {
    
    #rst-container{
        background-color: #f14c38;
        border-radius: 30px;
        width: 70vw;
        height: 600px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%) ;
        z-index: 100000;
        display: flex;
        justify-content: center;
        box-shadow: 2px 5px 8px 5px rgba(0,0,0,0.3);

        
        
    
    }
    
    .fa-xmark{
        font-size:40px;
        position: absolute;
        right: 30px;
        top: 20px;
        color: #FEFEFE;
    }
    
    
    .heading{
        font-size: 50px;
        position: absolute;
        top: 30px;
        margin: 0px auto;
    
        /* FONTS */
        font-family: 'Raleway',sans-serif;
        font-weight: 700;
        color: #FEFEFE;
    
    }
    
    #rst-mainbox{
        width: 80%;
        height: 200px;
        display: flex;
        justify-content: space-between;
        border: px solid green;
        position: relative;
        top: 140px;
    }
    
    .circle1,.circle2{
        border: 15px solid white;
        width: 180px;
        height: 180px;
        border-radius:50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .sc-rm{
        text-align: center;
        width: 100%;
        font-family: 'Roboto',sans-serif;
        font-weight: 600;
        font-size: 34px;
        color: #FEFEFE;
    }
    
    .sc-scr{
        text-align: center;
        width: 100%; 
        font-family: 'Poppins',sans-serif;   
        font-size: 26px;
        font-weight: 600;
        color: #FEFEFE;
    
    }
    .user{
        position: absolute;
        top: 80%;
        border: px solid red;
        font-family: 'Raleway',sans-serif;
        font-weight: bold;
        font-size: 50px;
        color: #FEFEFE;
    
    }
    
    .perf{
        position: absolute;
        top: 70%;
        font-family: 'Kanit',sans-serif;
        color: #FEFEFE;
    }
}
